/**
 * WordCamp Manila 2017
 */

body:not(.custom-background-image):before, 
body:not(.custom-background-image):after {
	display: none;
}

.site {
	margin: 0;
    background-color: #ededed;
}

.site-inner {
	background-image: url(https://2017.manila.wordcamp.org/files/2017/03/header_03.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
	/* max-width: 1340px; */
}

/* HEADER */
.site-header {
	background-image: url('https://2017.manila.wordcamp.org/files/2017/03/logo_03.png');
	padding-left: 0;
    padding-right: 0;
}

.site-header-main {
	background: black;
    padding: 0 2%;
}

.site-header-main .site-branding .site-title a, 
.site-header-main .main-navigation a {
	color: white;
}

.site-header-main .main-navigation a:hover, 
.site-header-main .main-navigation a:focus {
	color: #fbff07;
}

/* WIDGETS */
.widget-area .widget_search {
	border-top: 4px solid;
}